@page "/streamTable"
@using ChangeStreamWatcher_Blazor.Components;
@using ChangeStreamWatcher_Blazor.Services
@using MongoDB.Bson
@using ChangeStreamWatcher_Blazor.Data
@inject ChangeStreamWatcher watcher

<h1>Stream Table Logs Operations</h1>


<TableLayout></TableLayout>
@code {




}
