@page
@model IndexModel
@using ChangeStreamWatcher_Prototype.Services
@inject ChangeStreamWatcher watcher 
@{
    watcher.Start();
    ViewData["Title"] = "Home page";
}
<span>@watcher.OperationType</span>
<span>@watcher.Initialized</span>
<span>@watcher.Counter</span>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
